<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="party.iobserver.bjutloginapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="cyanogenmod.permission.PUBLISH_CUSTOM_TILE" />

    <application
        android:name=".LoginApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_login_stable"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_login_stable"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:label=" " />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/action_settings">

            <intent-filter>
                <action android:name="party.iobserver.bjutloginapp.SETTINGS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="forceTouch"
                android:value="force" />
        </activity>

        <activity-alias
            android:name=".ui.SettingsActivityAlias"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="party.iobserver.bjutloginapp.SETTINGS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="forceTouch"
                android:value="force" />
        </activity-alias>

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ReleaseNoteActivity"
            android:label="@string/action_rn">
            <intent-filter>
                <action android:name="party.iobserver.bjutloginapp.RN_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="forceTouch"
                android:value="force" />
        </activity>
        <activity
            android:name=".ui.VersionActivity"
            android:label="@string/action_version" />

        <activity
            android:name=".ui.UsersActivity"
            android:label="@string/action_users">
            <intent-filter>
                <action android:name="party.iobserver.bjutloginapp.USERS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.ReleaseNoteActivityAlias"
            android:targetActivity=".ui.ReleaseNoteActivity">
            <intent-filter>
                <action android:name="party.iobserver.bjutloginapp.RN_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="forceTouch"
                android:value="force" />
        </activity-alias>


        <activity-alias
            android:name=".ui.UsersActivity"
            android:targetActivity=".ui.UsersActivity">
            <intent-filter>
                <action android:name="party.iobserver.bjutloginapp.USERS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>